978-1-4302-6109-4_Code/Chapter04/getEarthquakeDataApp/getEarthquakeDataApp/Service References/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.Maps.MapControl.WPF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.Maps.MapControl.WPF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altitude" type="xs:double" />
      <xs:element minOccurs="0" name="AltitudeReference" type="tns:AltitudeReference" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:simpleType name="AltitudeReference">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ground" />
      <xs:enumeration value="Ellipsoid" />
      <xs:enumeration value="SeaLevel" />
      <xs:enumeration value="Surface" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AltitudeReference" nillable="true" type="tns:AltitudeReference" />
</xs:schema>