978-1-4302-6109-4_Code/Chapter04/getEarthquakeDataApp/getEarthquakeDataApp/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://4f17f7a9e1d849778402996b2359adbb.cloudapp.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" />
  <xs:element name="GetEarthquakeData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEarthquakeDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="GetEarthquakeDataResult" nillable="true" type="q1:ArrayOfEarthquake" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEarthquakeDataBBox">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TLLong" type="xs:double" />
        <xs:element minOccurs="0" name="TLLat" type="xs:double" />
        <xs:element minOccurs="0" name="BRLong" type="xs:double" />
        <xs:element minOccurs="0" name="BRLat" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEarthquakeDataBBoxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="GetEarthquakeDataBBoxResult" nillable="true" type="q2:ArrayOfEarthquake" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>